.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 16px;
  }

  .make-post {
    margin-bottom: 10px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .create {
    width: 100%;
    justify-content: center;
    align-items: center;
  }