.button{
    --background: black;
    font-family: 'Times New Roman';
}

.spacing{
    margin: 10px;
}

.custom-font{
    font-family: 'Times New Roman';
    font-size: 16px;
    color: black;
}
