/* UserJob.css */
.custom-card {
  border: 2px solid #3880ff; /* Add border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
  border-radius: 10px; /* Rounded corners */
  margin: 10px; /* Spacing around the card */
  padding: 30px; /* Inner padding */
  background-color: #727070; /* Background color */
  color: #333; /* Text color */
}
